.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    vertical-align: top;
    position: relative;
    min-height: 200px;
    display: inline-block;
    justify-content: center;
    justify-items: center;
}

.places h1 {
    text-align: left;
    font-size: 30px
}

h2.top {
    text-align: center;
    font-size: 30px
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    position: absolute;
    right: 30px;
    top: 11px
}

.information {
    height: 80px;
    width: 300px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: inline-flex;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}

.max_guest {
    background-color: white;
    width: 100px;
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 50px;
    text-align: center;
}

.number_rooms {
    width: 100px;
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 50px;
    text-align: center;
}

.number_bathrooms {
    width: 100px;
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 50px;
    text-align: center;
}

.user {
    padding-top: 10px;
}

article .description {
    padding-top: 10px;
}

article .amenities {
    margin-top: 40px;
    overflow: auto
}

.amenities h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

article .reviews {
    margin-top: 40px;
    position: relative;
}

.reviews h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

.reviews h3 {
    font-size: 14px;
    text-align: left;
    padding-left: 0;
}

.reviews p {
    font-size: 12px;
}

.reviews ul {
    list-style: none;
    padding-left: 0;
}

.places .amenities ul {
    padding-left: 0;
    height: 100%;
}

.tv {
    float: left;
    width: 100%;
    background-size: 15px;
    background-image: url("../images/icon_tv.png");
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position: 0 50%;
}

.wifi {
    float: left;
    width: 100%;
    background-size: 15px;
    background-image: url("../images/icon_wifi.png");
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position: 0 50%;

}
.pets {
    float: left;
    width: 100%;
    background-size: 15px;
    background-image: url("../images/icon_pets.png");
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position: 0 50%;

}